@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 90%);
}
#Navbar li:hover {
  background-color: hsl(0, 0%, 90%);
  transition: 0.2s ease-in;
  border-top: 3px solid rgb(10, 109, 123);
}
#Blog ul li:hover {
  color: rgb(29, 201, 224);
  transition: ease-in 0.2s;
}
@media only screen and (max-width: 876px) {
  #search input {
    max-width: 150px;
  }
  #search h1 {
    font-size: 15px;
  }
}
